<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marshallofsound.gpmdp.remote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:launchMode="singleInstance">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <receiver android:name=".RemoteControlReceiver">
        <intent-filter>
          <action android:name="android.intent.action.MEDIA_BUTTON" />
          <action android:name="com.marshallofsound.gpmdp.remote.media.CONTROLLER.prev" />
            <action android:name="com.marshallofsound.gpmdp.remote.media.CONTROLLER.playpause" />
            <action android:name="com.marshallofsound.gpmdp.remote.media.CONTROLLER.next" />
            <action android:name="com.gpmdp.WebSocketEvent" />
        </intent-filter>
      </receiver>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <service
          android:name=".PlaybackAPIService"
          android:exported="false"
      />
    </application>

</manifest>
